@mixin button {
    font-size: 1em;

    border: none;
    border-radius: 4px;
    padding: 10px 20px;

    $time: 0.15s;

    transition: $time background-color ease-in, $time color ease-in;
    cursor: pointer;
}

.standard {
    @include button();

    background-color: black;
    color: white;
    border: 1px solid black;

    transform: scale(1);

    transition: 0.2s transform ease;

    &:hover {
        transform: scale(1.01);
    }
}

.inverted {
    @include button();

    background-color: transparent;
    color: black;
    border: 1px solid black;

    &:hover {
        background-color: black;
        color: white;
    }
}

.inline {
    @include button();

    background-color: rgb(105, 71, 255);
    border-radius: 4px;

    color: white;

    transform: scale(1);
    transition: 0.5s transform cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        transform: scale(1.01);
    }
}

/*** Additional Button Styles ***/

.highlighted {
    border: 1px solid black;
}
