.trendingCard {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 75px;

    $color: #151518;

    background-color: $color;
    border: 1px solid $color;
    border-radius: 4px;

    margin: 10px;
    padding: 10px 25px;

    transform: scale(1);

    $time: 0.15s;
    transition: $time transform ease, $time border-color ease;

    cursor: pointer;

    &:hover {
        border-color: rgb(248, 215, 154);
    }

    &__title {
        text-align: center;
        font-size: 1.3em;

        color: rgb(248, 216, 156);
    }
}

@media screen and (max-width: 655px) {
    .trendingCard {
        flex: 1 0 auto;
    }
}
