{
    "tabWidth": 4,
    "jsxBracketSameLine": false,
    "singleQuote": false,
    "arrowParens": "always",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "trailingComma": "es5",
    "semi": true,
    "cursorOffset": -1,
    "embeddedLanguageFormatting": "auto",
    "useTabs": false,
    "endOfLine": "lf",
    "filepath": "",
    "insertPragma": false,
    "overrides": []
}
