.card {
    margin: 25px;
    padding: 15px;

    width: 300px;
    height: 300px;

    border-radius: 4px;

    box-shadow: 0 4px 25px rgba(11, 33, 74, 0.11),
        0 -2px 5px rgba(11, 33, 74, 0.03);

    &__title {
        font-size: 1.75em;
    }

    &__text {
        margin: 10px;
        text-align: justify;
    }
}
