@import "/styles/variables.scss";

.content {
    width: 100%;
    height: calc(100vh - 55px);

    display: grid;
    grid-template-columns: 1.25fr 6fr;
    grid-template-rows: auto;

    background-color: $bgDark;
    border: $stdBorder;

    &__siderbar {
        height: 100%;
    }
}
