#backgroundImage {
    position: relative;

    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#banner {
    height: 700px;
    padding: 20px 0;
}

@mixin column($location) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

    float: $location;
}

.rightColumn {
    @include column(right);

    &__form {
        $transition-time: 0.75s;
        $easing: cubic-bezier(0.075, 0.82, 0.165, 1);

        margin: 20px;

        width: 90%;
        max-width: 375px;

        p {
            text-align: center;
        }
    }
}

.leftColumn {
    @include column(left);

    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        width: 500px;
    }

    &__title {
        font-size: 5.5em;
        font-weight: 800;
        text-align: center;
    }

    &__logo {
        margin-left: 25px;
    }
}

@media screen and (max-width: 835px) {
    #banner {
        height: auto;
    }

    .rightColumn,
    .leftColumn {
        width: 100%;
        float: none;
    }
}
