.banner {
    display: grid;
    align-items: center;
    justify-items: center;

    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    height: 700px;

    &__column {
        width: 500px;

        padding: 40px;
    }
}

.title {
    font-size: 5.5em;
    font-weight: 800;
    text-align: center;

    &__logo {
        margin-left: 25px;
    }
}

@media screen and (max-width: 999px) {
    .banner__column___form {
        grid-row: 1;
    }
}
