.banner {
    display: grid;
    align-items: center;
    justify-items: center;

    grid-template-columns: repeat(2, minmax(500px, 1fr));
    grid-template-rows: auto;

    height: 700px;

    &__column {
        width: 500px;
    }
}

.title {
    font-size: 5.5em;
    font-weight: 800;
    text-align: center;

    &__logo {
        margin-left: 25px;
    }
}
