@import "/styles/variables.scss";

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: white;

    &__title {
        font-size: 2.3em;
        font-weight: 600;

        margin: 12px 0;
        color: rgb(235, 196, 151);
    }

    &__label {
        text-align: left !important;
        font-size: 1.1em;

        width: 100%;
        color: inherit;
    }

    &__input {
        background-color: $bgDark;
        font-size: 14px;
        border: none;
        border-radius: 4px;

        margin: 10px 0;
        padding: 0 15px;

        height: 50px;
        width: 100%;

        transition: 0.3s border-bottom-color ease;
        caret-color: rgb(224, 197, 122);

        &___error {
            color: red;
        }

        &::placeholder {
            color: rgb(145, 145, 145);
        }
    }

    &__button {
        width: 100%;

        margin: 5px 0;
    }

    &__backArrow {
        position: absolute;
        top: 20px;
        left: 15px;

        transform: scale(1);

        transition: 0.3s transform cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

.buttonContainer {
    width: 100%;
    margin-top: 20px;

    &__text {
        text-align: center;
        color: inherit;
    }
}

.dobContainer {
    display: flex;
    width: 100%;

    &__month {
        width: 20px;
        flex: 2 1 0;
        margin-right: 10px;
    }

    &__day {
        width: 20px;
        flex: 1 1 0;
        margin-right: 10px;
    }

    &__year {
        width: 20px;
        flex: 1.5 1 0;
    }
}

/*** CSS Transitions ***/

$distance: 110%;
$time: 500ms;

@mixin formEnter($direction) {
    position: absolute;
    transform: translateX($direction * $distance);
}

@mixin formExitActive($direction) {
    transform: translateX($direction * $distance);
    transition: transform $time ease;
}

.formPrimaryEnter {
    @include formEnter(1);
}

.formPrimaryExitActive {
    @include formExitActive(1);
}

.formSecondaryEnter {
    @include formEnter(-1);
}

.formSecondaryExitActive {
    @include formExitActive(-1);
}

.formEnterActive {
    transform: translateX(0);
    transition: transform $time ease;
}

.formExit {
    position: absolute;
}
