#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#root form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root label {
  font-size: 1.1em;
}

#title {
  margin-bottom: 25px;
}

#loginButton {
  margin-top: 20px;
}

.error {
  color: red;
}
