#animationContainer {
    display: flex;
    justify-content: center;

    position: relative;
    height: 100%;

    overflow: hidden;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.form {
    width: 275px;

    &_label {
        font-size: 1.1em;

        &__error {
            color: red;
        }
    }

    &_button {
        width: 100%;
    }
}

#title {
    margin-bottom: 25px;
}

.buttonContainer {
    @extend .form;

    margin-top: 20px;
}

.error {
    color: red;
}

/*** CSS Transitions ***/

$distance: 110%;
$time: 500ms;

@mixin formEnter($direction) {
    position: absolute;
    transform: translateX($direction * $distance);
}

@mixin formExitActive($direction) {
    transform: translateX($direction * $distance);
    transition: transform $time ease;
}

.formPrimaryEnter {
    @include formEnter(1);
}

.formPrimaryExitActive {
    @include formExitActive(1);
}

.formSecondaryEnter {
    @include formEnter(-1);
}

.formSecondaryExitActive {
    @include formExitActive(-1);
}

.formEnterActive {
    transform: translateX(0);
    transition: transform $time ease;
}

.formExit {
    position: absolute;
}
