.standard,
.inverted,
.inline {
  display: block;
  padding: 10px 20px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  transition: 0.15s background-color ease-in, 0.15s color ease-in;
}

.standard {
  background-color: transparent;
  color: black;
}

.standard:hover {
  background-color: black;
  color: white;
}

.inverted {
  background-color: black;
  color: white;
  transition: 0.15;
  border: 1px solid black;
}

.inverted:hover {
  background-color: transparent;
  color: black;
}

.highlighted {
  border: 1px solid black;
}

.inline {
  background-image: var(--gradient);
  transform: scale(1);
  transition: 0.5s transform cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 32px;
}

.inline:hover {
  transform: scale(1.05);
}
