@mixin button {
  display: block;
  font-size: 1em;

  border: none;
  border-radius: 32px;
  padding: 10px 20px;

  transition: 0.15s background-color ease-in, 0.15s color ease-in;
  cursor: pointer;
}

.standard {
  @include button();

  background-color: transparent;
  color: black;

  :hover {
    background-color: black;
    color: white;
  }
}

.inverted {
  @include button();

  background-color: black;
  color: white;
  transition: 0.15;
  border: 1px solid black;

  :hover {
    background-color: transparent;
    color: black;
  }
}

.inline {
  background-image: var(--gradient);
  border-radius: 32px;

  transform: scale(1);
  transition: 0.5s transform cubic-bezier(0.075, 0.82, 0.165, 1);

  :hover {
    transform: scale(1.05);
  }
}

/*** Additional Button Styles ***/

.highlighted {
  border: 1px solid black;
}
