.standard,
.inverted {
  display: block;
  padding: 10px 20px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  margin: 10px;
  transition: 0.15s background-color ease-in, 0.15s color ease-in;
}

.standard {
  background-color: transparent;
  color: black;
}

.standard:hover {
  background-color: black;
  color: white;
}

.inverted {
  background-color: black;
  color: white;
}

.inverted:hover {
  background-color: transparent;
  color: black;
}

.highlighted {
  border: 1px solid black;
}
