#footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    position: absolute;
    bottom: 0;

    width: 100%;

    height: 300px;
    margin-top: 50px;
}

@mixin column-link {
    font-family: "Heebo", sans-serif;
    font-size: 0.85em;

    cursor: pointer;

    color: gray;
    transition: 0.3s color ease;
}

.column {
    width: 100px;
    margin: 0 55px;
    padding: 0;
    list-style: none;

    li:first-child {
        font-size: 1.3em;
        text-decoration: none;
        color: black;

        cursor: initial;
    }

    li:first-child:hover {
        color: initial;
    }

    a {
        @include column-link();

        &:hover {
            color: #2ca0e7;
        }
    }
}

#copyright {
    @include column-link();

    cursor: text;

    :hover {
        color: gray;
    }
}

@media screen and (max-width: 450px) {
    #footer {
        position: static;
        width: unset;
    }

    .column {
        width: 100%;
    }
}
