#container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#footer {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.column {
  list-style: none;
  margin: 0 55px;
  padding: 0;
  width: 100px;
}

.column li:first-child {
  cursor: initial;
  text-decoration: none;
  color: black;
  font-size: 1.3em;
}

.column li:first-child:hover {
  color: initial;
}

.column a,
#copyright {
  font-family: 'Heebo', sans-serif;
  font-size: 0.85em;
  color: gray;
  cursor: pointer;
  transition: 0.3s color ease;
}

.column a:hover {
  color: #2ca0e7;
}

#copyright {
  cursor: text;
}

#copyright:hover {
  color: gray;
}

@media screen and (max-width: 400px) {
  .column {
    width: 100%;
    background-color: ;
  }
}
