#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/background.jpg');
  background-size: cover;
  height: 100vh;
}

#root h1 {
  font-size: 3em;
}

#root h2 {
  font-size: 1.5em;
  max-width: 40ch;
  word-wrap: break-word;
}

.wrapped {
  text-align: center;
  max-width: 80ch;
}
