#container {
    position: relative;
    background-image: url("/triangle-mosaic.png");

    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#content {
    height: 700px;
    padding: 20px 0px;
}

.title {
    font-size: 5.5em;
    font-weight: 800 !important;
    text-align: center;

    &_logo {
        margin-left: 25px;
    }
}

@mixin columnContainer {
    display: flex;
    justify-content: center;
    width: 50%;
}

#rightColumn {
    @include columnContainer();

    align-items: center;
    float: right;

    height: 100%;
}

#leftColumnContainer {
    @include columnContainer();

    height: 100%;
    float: left;
}

#leftColumn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    width: 500px;
}

#formBackground {
    $transition-time: 0.75s;
    $easing: cubic-bezier(0.075, 0.82, 0.165, 1);
    $size: 425px;

    margin: 20px;

    width: 100%;
    max-width: $size;
    height: $size;

    background-image: var(--gradient);
    background-color: white;
    box-shadow: 0 4px 30px rgba(11, 33, 74, 0.11),
        0 -2px 5px rgba(11, 33, 74, 0.03);

    border: 1px solid transparent;
    border-radius: 32px;
    padding: 0 50px;

    p {
        text-align: center;
    }
}

@media screen and (max-width: 835px) {
    #content {
        height: auto;
    }

    #rightColumn,
    #leftColumnContainer {
        width: 100%;
        float: none;
    }
}
