#navbar {
  position: absolute;
  width: 100%;
  height: 100px;
  height: 65px;
}

#navbarNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

#navbar li {
  margin: 10px;
}

#navbarNav li:first-child {
  margin-right: auto;
}

#links {
  justify-content: flex-end;
}

#links button {
  margin-right: var(--margin-end);
}

#logo h2 {
  margin: 0 2px;
}
