/*** Site Metadata ***/
$mobileSize: 768px;
$siteMaxWidth: 500px;

/*** Theme Colors ***/
$Kirfley-1-hex: #2d4dfa;
$Kirfley-2-hex: #2874de;
$Kirfley-3-hex: #39bbf5;
$Kirfley-4-hex: #28d4de;
$Kirfley-5-hex: #2dfacc;

/*** Contrast Colors ***/
$bgDark: #ffffff;
$bgLight: #ffffff;

$stdBorder: #e2e2e2e2;
