$bgLight: rgb(255, 255, 255);
$bgDark: rgb(245, 245, 245);
$stdBorder: 1px solid rgb(209, 209, 209);

@mixin gradientText() {
    background: linear-gradient(
        to right,
        rgb(236, 215, 157),
        rgb(245, 173, 173)
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
